.card-container-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.card-container {
  width: 80%;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 20px;
}
