.search {
  position: absolute; /*absolute to the Banner element-- which is relative */
  /* width: 100vw; */
  top: 42px;
  left: 25%;
  background: white;
  width: 28rem;
}

.search > h2 {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 15px;
}
.guest-count input {
  padding: 10px;
  font-size: large;
  border: none;
}
.guest-count {
  display: flex;
  flex-direction: column;
}
.guest-count button {
  text-transform: capitalize;
  background: rgb(255, 97, 97);
}
.guest-count button:hover {
  background-color: rgb(196, 64, 64);
  color: white;
}
